@using Task.Models
@model List<PizzaModel>
@{
    ViewData["Title"] = "Home Page";
}

<div id="pizza-container">
    @foreach(var pizza in Model)
    {
        @await Html.PartialAsync("PizzaPartials/_Card", pizza);
    }
</div>
